{% extends 'header.html' %}

{% block css_file %}
    <link rel="stylesheet" href="/css/detail.css">  
    <script type="text/javascript" src="/js/detail.js" defer> </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}

{% block title %} 小說詳情 {% endblock %}

{% block content %}
<div class="main_contain">

    <div class="detail_left">
        <!-- 選擇目錄 -->
        <div class="detail_novel">
            <h4>
                <a href="/">首頁</a>
                <span class="material-symbols-outlined">chevron_right</span>
                <a href="/ranking?ranking_type={{typeID}}&ranking_status=1">{{resultD.book_type}}</a>
                <span class="material-symbols-outlined">chevron_right</span>
                <a href="#">{{resultD.book_name}}</a>
                <span class="material-symbols-outlined">chevron_right</span>
            </h4>

            <h3>  {{resultD.book_name}}  </h3>
            <p> {{resultD.book_autor}}</p>                
            <p> {{resultD.book_type}}</p>
            <p> {{resultD.book_status}}</p>
            <p> 更新:</p>

            <div class="addbutton">
                <a href="#">開始閱讀</a>
                {% if is_favorite == 0 %}
                    <a href="#" onclick="favorite( {{resultD.book_id}} ,1 )">加入書架</a>
                {% else %}
                    <a href="#" onclick="favorite( {{resultD.book_id}} ,0 )">已加入書架</a>
                {% endif %}
            </div>
        </div>

        <!-- 小說box -->
        <div class="detail_menu">
            <h3>目錄</h3>
            {% for name in resultM %}
                <a href="#">
                    <span>{{name.book_content_title}}</span>
                    <span>更新時間</span>
                </a>
            {% endfor %}
            <div class="addbutton">
                <a href="/menu?book_id={{resultD.book_id}}">完整目錄</a>
            </div>
        </div>
    </div>  

    <div class="detail_hot">
        <input type="radio" name="radio_one" id='ranking1' class="ranking_control" checked>
        <input type="radio" name="radio_one" id='ranking2' class="ranking_control">

        <div class="tag_group">
            <label for="ranking1">發燒</label>
            <label for="ranking2">連載</label>
        </div>
        <div class="content_group">
            <div class="content content1">
                {% for name in result_hot %}
                    <a href="/detail?book_id={{name[0].book_id}}">
                        <span>{{name.book_name}}</span>
                    </a>
                {% endfor %}
            </div>

            <div class="content content2">
                {% for name in result_online %}
                    <a href="/detail?book_id={{name.book_id}}">
                        <span>{{name.book_name}}</span>
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>

    <div class="detail_message">
        <h3> 留言區</h3>
        <hr>

        <div class="user_comment">
            {% for floors in result_reply %}            
            <div class="floor">
                <!-- 主樓 -->
                <div class="main_floor">
                    <div class="re_username">
                        <span>{{floors.floor.username}}</span>
                    </div>
                    <div class="re_comment">
                        <span>{{floors.floor.content}}</span>  
                    </div>

                    <form action="/post/reply" method="post">
                        <input type="text" name="{{floors.floor.book_id}}_{{floors.floor.floor_number}}">
                        <button type="submit">回覆</button>
                    </form>
                </div>
                <hr>

                <!-- 回覆 -->
                {% for reply in floors.floor_reply%}
                <div class="reply_box">
                    <div class="re_username">
                        <span>{{reply.username}}</span>
                    </div>
                    <div class="comment"> 
                        <span>{{reply.content}}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}

            <form action="/post/reply" method="post">
                <input type="text" name="{{resultD.book_id}}_0">
                <button type="submit">留言</button>
            </form>
        </div>

    </div>

</div>

{% endblock %}