{% extends 'header.html' %}

{% block css_file %}
    <link rel="stylesheet" href="/css/menu.css">  
{% endblock %}

{% block title %} 小說目錄 {% endblock %}

{% block content %}

<div class="main_contain">

    <div class="menu_type">
        <p>
            <a href="home.html">首頁</a>
            <span class="material-symbols-outlined">chevron_right</span>
            <a href="#">都市小說</a>
            <span class="material-symbols-outlined">chevron_right</span>
            <a href="#">小說名稱</a>
        </p>
    </div>


    <div class="menu_list">
        {% for menu in resultM %}
        <a href="#">
            <span>{{menu.book_content_title}}</span>
        </a>
        {% endfor %}
    </div>


</div>

{% endblock %}