{% extends 'header.html' %}
        
{% block css_file %}
    <link rel="stylesheet" href="/css/ranking.css">  
{% endblock %}

{% block title %} 小說排行 {% endblock %}

{% block content %}
<div class="main_contain">
    <!-- 選擇目錄 -->
    <div class="ranking_type">
        <!-- 上排 -->
        <div>
            <ul>
                {% for k,v in book_status_map.items() %}
                <li><a href="?ranking_status={{k}}&ranking_type={{reply_type}}">{{v}}</a></li>
                {% endfor %}
            </ul>
            <ul>
                <li><a href="#">人氣</a></li>
                <li><a href="#">推薦</a></li>
                <li><a href="#">新書</a></li>
            </ul>
        </div>
        <!-- 下排 -->
        <div>
            <ul>
                {% for k,v in book_type_map.items() %}
                <li><a href="?ranking_type={{k}}&ranking_status={{reply_status}}">{{v}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <!-- 小說box -->
    <div class="ranking_box">
        {% for ranking in result %}
        <div class="ranking_box_inner">
            <h3><a href="/detail?book_id={{ranking.book_id}}">{{ranking.book_name}}</a></h3>
            <div>
                <p><a href="#">{{ranking.book_autor|striptags}}</a></p>
                <p>{{ranking.book_status|striptags}}</p>
            </div>
            <div class="box_contain">
                <p>{{ranking.book_abstract}} </p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="ranking_pages">

            {% if 2 > page|int %}
            <ul>
                <li><a href="?page={{page}}&ranking_type={{reply_type}}&ranking_status={{reply_status}}">{{page}}</a></li>
                <li><a href="?page={{page|int +1}}&ranking_type={{reply_type}}&ranking_status={{reply_status}}">{{page|int +1}}</a></li>
                <li><a href="?page={{page|int +2}}&ranking_type={{reply_type}}&ranking_status={{reply_status}}">{{page|int +2}}</a></li>
                <li><a href="?page={{page|int +1 }}&ranking_type={{reply_type}}&ranking_status={{reply_status}}">下一頁</a></li>
            </ul>

            {% else %}
            <ul>
                <li><a href="?page={{page|int -1}}&ranking_type={{reply_type}}&ranking_status={{reply_status}}">上一頁</a></li>
                <li><a href="?page={{page|int -1}}&ranking_type={{reply_type}}&ranking_status={{reply_status}}">{{page|int -1}}</a></li>
                <li><a href="?page={{page}}&ranking_type={{reply_type}}&ranking_status={{reply_status}}">{{page}}</a></li>
                <li><a href="?page={{page|int +1}}&ranking_type={{reply_type}}&ranking_status={{reply_status}}">{{page|int +1}}</a></li>
                <li><a href="?page={{page|int +1 }}&ranking_type={{reply_type}}&ranking_status={{reply_status}}">下一頁</a></li>
            </ul>
            {% endif %}
    </div>
</div>

{% endblock %}
