{% extends 'header.html' %}

{% block css_file %}
    <link rel="stylesheet" href="/css/search.css">  
{% endblock %}

{% block title %} 小說排行 {% endblock %}

{% block content %}

<div class="main_contain">

    <!-- 選擇目錄 -->
    <div class="search_keyword">
        <p> 搜索關鍵詞__{{keyward}}</p>
    </div>
    <hr>

    <!-- 小說box -->
    {% for search in result %}
    <div class="search_novel_box">
        <ul>
            <li>
                <div>
                    <h3><a href="/detail?book_id={{search.book_id}}">{{search.book_name}}</a></h3>
                    <div class="novel_type">
                        <p>作者：{{search.book_autor}}</p>
                        <p>類型：{{search.book_status}}</p>
                    </div>

                    <div class="novel_info">
                        <p>{{search.book_abstract}}</p>
                    </div>
                </div> 
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock %}