        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link rel="stylesheet" href="../resource/css/search.css">


{% extends 'header.html' %}

{% block title %} 小說排行 {% endblock %}

{% block content %}
<div class="main_area">
    <div class="main_contain">

        <!-- 選擇目錄 -->
        <div class="search_keyword">
            <p> 搜索關鍵詞__</p>
        </div>
        <hr>

        <!-- 小說box -->
        <div class="search_novel_box">
            <ul>
                <li>
                    <div>
                        <h3>小說名稱</h3>
                        <div class="novel_type">
                            <p>作者：某某人</p>
                            <p>類型：奇幻</p>
                        </div>

                        <div class="novel_info">
                            <p>簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                                簡介：這是一部精彩的小說，講述了一個關於冒險和友情的故事。
                            </p>
                        </div>
                    </div> 
            </ul>
        </div>


        <div class="ranking_pages">
            <ul>
                <li><a href="#">上一頁</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">下一頁</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}